:root {
	--text_color: #46453D;
	--text_color_p: #858585;
	--youtube_text_color: #F0F0F0;
	--contact_text_color: #ECF0F1;
	--contact_text_color_bg: #292C37;
}
h1, h2, h3,	h4,	h5,	h6, p,
.home-social-icon,
.biography-item-circle .fa,
.notes-item-circle .fa {
	color: var(--text_color);
}
.youtube-content p:nth-child(2),
.youtube-content p:nth-child(3),
.youtube-content p:nth-child(6) {
	color: var(--youtube_text_color);
}




html, body, #home {
	height: 100%;
}
#home {
	background: url("../images/home-bg.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
}
.fixed-top {
	transition: 0.2s all linear;
}
.fixed-top.change-fix-top {
	margin-top: 0;
	background: rgba(236, 240, 241, 0.8);
	max-width: 2000px;
}
.navbar-brand img {
	border-radius: 50%;
	background: #f5bb8c;
	margin: 0 2px;
	padding: 3px;
}
.navbar {
	background: #ECF0F1;
}
.navbar-nav {
	font-family: 'Oswald' serif;
	font-size: 16px;
	font-weight: 500;
}
.navbar-nav .nav-link {
	margin-left: 15px;
}
.site-picture img {
	height: 256px;
	width: 256px;
	border-radius: 50%;
	padding: 5px;
	border: 8px solid var(--text_color);
}
h1 {
	font-family: 'Comfortaa';
	font-size: 24px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 15px;
}
h2 {
	font-family: 'Oswald';
	font-size: 48px;
	margin-top: 5px;
	text-decoration: overline;
}
.home-social-icons,
.youtube-social-icons {
	margin: 0;
	padding-top: 10px;
}
.home-social-icon,
.youtube-social-icon {
	display: inline;
	padding: 0 5px;
}
.home-social-icon .fa,
.youtube-social-icon .fa {
	--circle_diameter: 50px;
	width: var(--circle_diameter);
	height: var(--circle_diameter);
	border: 2px solid var(--text_color);
	border-radius: 50%;
	line-height: calc(var(--circle_diameter) - 4px);
}
#biography,
#notes {
	padding-top: 120px;
	padding-bottom: 70px;
	background: #ECF0F1;
}
.biography-top h3,
.notes-top h3 {
	font-family: 'Montserrat';
	font-size: 30pt;
	font-weight: 700;
}
.biography-top .biography-line,
.notes-top .notes-line,
.youtube-content .youtube-line {
	margin-top: 25px;
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	width: 130px;
	border-bottom: 3px solid #dfbc42;
}
.biography-top p,
.notes-content p {
	font-family: 'Comfortaa';
	font-size: 15px;
	color: var(--text_color_p);
	line-height: 130%;
	word-spacing: 2px;
}
.biography-top p {
	margin-top: 50px;
	text-align: justify;

}
.biography-content,
.notes-content {
	margin-top: 50px;
}
.biography-content h4,
.notes-content h4 {
	margin-top: 15px;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 700;
}
.biography-content .row .biography-item-circle,
.notes-content .row .notes-item-circle {
	margin: 0;
	padding: 0;
}
.biography-content .row div,
.notes-content .row div {
	padding-bottom: 50px;
}
.notes-content p {
	margin-top: 10px;
}
.notes-item-circle .fa {
	--circle_diameter: 60px;
	width: var(--circle_diameter);
	height: var(--circle_diameter);
	border: 2px solid var(--text_color);
	border-radius: 50%;
	line-height: calc(var(--circle_diameter) - 4px);
}
#youtube {
	background: url("../images/youtube-bg.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding-top: 120px;
	padding-bottom: 120px;
}
.youtube-content p:nth-child(2) { /* p : youtube */
	margin: 0;
	padding-top: 15px;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;
}
.youtube-content p:nth-child(3) { /* p : yazılım gezegeni */
	margin-top: 6px;
	font-family: 'Comfortaa';
	font-size: 24px;
	font-weight: 100;
	letter-spacing: 1px;
}
.youtube-content .youtube-line {
	margin-top: 40px;
	border-bottom: 3px solid var(--youtube_text_color);
}
.youtube-social-icon .fa {
	transition: 0.2s all linear;
	color: #E6594B;
	background: var(--youtube_text_color);
	border: 2px solid var(--youtube_text_color);
}
.youtube-social-icon .fa:hover {
	transition: 0.2s all linear;
	color: #292C37;
}
.youtube-content ul {
	padding-top: 20px;
}
.youtube-content p:nth-child(6) { /* p : /myygezegeni; */
	margin: 0;
	padding-top: 15px;
	font-family: 'Comfortaa';
	font-size: 15px;
	letter-spacing: 2px;
}
#youtube .row .youtube-video img {
	width: 100%;
}
 #contact {
	background: url("../images/contact-bg.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	padding-top: 50px;
 	padding-bottom: 50px;
}
 .contact-item-circle .fa  {
	--circle_diameter: 80px;
	width: var(--circle_diameter);
	height: var(--circle_diameter);
	border: 2px solid var(--contact_text_color_bg);
	border-radius: 50%;
	line-height: calc(var(--circle_diameter) - 8px);
	color: var(--contact_text_color_bg);
	background: var(--contact_text_color);
	
}
.contact-email-content {
	position: absolute;
	top: 16px;
	left: 110px;
}
.contact-email-content p:nth-child(1) {
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 700;
	color: var(--contact_text_color);
}
.contact-email-content p:nth-child(2) {
	padding-top: 5px;
	font-family: 'Comfortaa';
	font-size: 16px;
	font-weight: 400;
	color: var(--contact_text_color);
}
.row .contact-social-icons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.contact-social-icons li {
	display: inline;
	color: var(--contact_text_color);
}
.contact-social-icon .fa {
	--circle_diameter: 40px;
	width: var(--circle_diameter);
	height: var(--circle_diameter);
	border: 2px solid var(--contact_text_color_bg);
	border-radius: 50%;
	line-height: calc(var(--circle_diameter) - 4px);
	color: var(--contact_text_color_bg);
	background: var(--contact_text_color);
}
#copyright {
	background: #ECF0F1;
	padding: 40px 0;
}
#copyright p {
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
}






@media (max-width: 992px) {	

}

@media (max-width: 768px) {

}

@media (max-width: 576px) { 
}


@media (max-width: 150px) { 
	.site-picture img {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		padding: 5px;
		border: 8px solid var(--text_color);
	}
}
